@font-face {
    font-family: 'dukeplus';
    src: url(/src/font/dukeplus.ttf) format('truetype');
}
@font-face{
    font-family: 'sinami';
    src: url(/src/font/Sinami\ demo.ttf) format('truetype');
}
@font-face{
    font-family: 'ancient';
    src: url(/font/Ancient\ Medium.ttf) format('truetype');
}
@font-face{
    font-family: 'retro';
    src: url(/font/Retro\ Gaming.ttf) format('truetype');
}
@font-face{
    font-family: 'daydream';
    src: url(/font/Daydream.ttf) format('truetype');
}
@font-face{
    font-family: 'megasans';
    src: url(/font/maga-sans.ttf) format('truetype');
}
@font-face{
    font-family: 'secret';
    src: url(/font/Secret\ Admirer.ttf) format('truetype');
}
body{
    background-color: rgb(228, 56, 56);
}
h2, h3, span {
    font-family: 'Pincllo';
}
li{
    font-family: 'Eichante';                                            
}
main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.pokedex {
    display: flex;
    width: 800px;
    gap: 30px;
    margin: 20px 0px;
    padding: 20px 40px;
    border-top: 8px rgb(41, 41, 41) solid;
    border-right: 35px rgb(41, 41, 41) solid;
    border-left: 35px rgb(41, 41, 41) solid;
    border-bottom: 8px rgb(41, 41, 41) solid;
    background: rgb(226, 226, 226);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(12, 6, 6, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    border-radius: 20px;
}
