@media (max-width: 750px) {
    .cartao-pokemon{
        max-width: 300px;
        border-radius: 30px;
    }
    .cartao-pokemon .cartao-informacoes{
        border-radius: 0 0 30px 30px;
    }
    .status ul li, .habilidades ul li{
        font-size: 12px;
        
    }
    .cartao-pokemon .cartao_imagem{
        width: 200px;
        height: 200px;
    }
    .pokedex {
        flex-direction: column;
        width: 450px;
    }
    .listagem{
        max-width: 300px;
    }
    .listagem ul{
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 4px;
    }
    .listagem .pokemon{
        width: 140px;
    }
    .pokemon{
        border-radius: 20px 20px 20px 20px;
        font-size: 20px;
    }
    .pokemon:hover{
        transform: scale(1.05);
        margin-right: 0;
        background-color: rgba(117, 252, 252, 0.534);
        box-shadow: rgba(23, 177, 177, 0.534) 1.95px 1.95px 2.6px;
        justify-content: space-around;
        color: rgb(138, 138, 138);
    }
}